In [1]:
!pip install reload

row_sample_rate = 0.1

Requirement already satisfied: reload in /opt/conda/lib/python3.9/site-packages (0.9)
Requirement already satisfied: watchdog>=0.8 in /opt/conda/lib/python3.9/site-packages (from reload) (2.1.3)

In [2]:
import numpy as np
import pandas as pd
import time
import reload

from helpers import clone_drop_and_convert, clone_impute_data, perf_measures, round_decision, reduce_dataframe_using_min_non_null, get_coefficent_weights
from models import apply_linear_regression_model
from predict_country import predict_country

# Developer note: If you modify the modules above, the changes to those modules will not be reflected until you 
# re-execute this cell, specifically the reload commands
# TODO this doesn't work yet
# reload(clone_drop_and_convert)
# reload(models)

DUMMY_NA = True
FILL="Mean"

pd.options.display.max_rows = 2000
pd.options.display.max_columns = 1000
pd.options.display.max_colwidth = 255

script_start = time.time()

raw_df = pd.read_csv('./assets/survey_results_public.csv')
schema = pd.read_csv('./assets/survey_results_schema.csv')

In [3]:
df = clone_drop_and_convert(raw_df)

full_country = df.sample(frac=row_sample_rate, axis=0)
full_country.shape
# (6446, 57)

start = time.time()
full_country_imputed = clone_impute_data(full_country, dummy_na=True, fill_technique=FILL)
end = time.time()
print('full_country impute time %s', end - start)
print("full country dataset has %s rows and %s columns" % (full_country_imputed.shape[0], full_country_imputed.shape[1]))

full_country impute time %s 5.375078916549683
full country dataset has 6446 rows and 19045 columns

In [4]:
countries = full_country['Country'].value_counts()
countries_with_enough_samples = countries[countries > (1000 * row_sample_rate)].index.values
countries_with_enough_samples

array(['United States', 'India', 'Germany', 'United Kingdom', 'Brazil',
       'Canada', 'France', 'Netherlands', 'Poland', 'Australia', 'Italy'],
      dtype=object)

In [5]:
#cutoffs here pertains to the number of missing values allowed in the used columns.
#Therefore, lower values for the cutoff provides more predictors in the model.

# cutoffs = [5000, 3500, 2500, 1000, 100, 50, 30, 25, 0]
cutoffs = [10000, 5000, 2500, 1000, 500]

results = []
for country in countries_with_enough_samples:
    country_results = predict_country( \
        rowset_label='full_country_%s' % country, \
        columnset_label='all_numeric_categerical_no_multichoice', \
        imputed_df=full_country_imputed, \
        cutoffs=cutoffs, \
        country_to_classify=country, \
        row_sample_rate=row_sample_rate \
    )
    results.extend(country_results)

rowset_label=full_country_United States, columnset_label=all_numeric_categerical_no_multichoice, cutoff=10000 yield columns=7, ACC=0.8133402275077559, in duration=24.267s
rowset_label=full_country_United States, columnset_label=all_numeric_categerical_no_multichoice, cutoff=5000 yield columns=8, ACC=0.8138572905894519, in duration=21.668s
rowset_label=full_country_United States, columnset_label=all_numeric_categerical_no_multichoice, cutoff=2500 yield columns=20, ACC=0.8143743536711479, in duration=21.956s
rowset_label=full_country_United States, columnset_label=all_numeric_categerical_no_multichoice, cutoff=1000 yield columns=87, ACC=0.8200620475698035, in duration=33.154s
rowset_label=full_country_United States, columnset_label=all_numeric_categerical_no_multichoice, cutoff=500 yield columns=119, ACC=0.8226473629782833, in duration=48.716s
rowset_label=full_country_India, columnset_label=all_numeric_categerical_no_multichoice, cutoff=10000 yield columns=7, ACC=0.8640124095139607, in duration=26.23s
rowset_label=full_country_India, columnset_label=all_numeric_categerical_no_multichoice, cutoff=5000 yield columns=8, ACC=0.8640124095139607, in duration=20.686s
rowset_label=full_country_India, columnset_label=all_numeric_categerical_no_multichoice, cutoff=2500 yield columns=20, ACC=0.8640124095139607, in duration=24.031s
rowset_label=full_country_India, columnset_label=all_numeric_categerical_no_multichoice, cutoff=1000 yield columns=87, ACC=0.8691830403309204, in duration=38.041s
rowset_label=full_country_India, columnset_label=all_numeric_categerical_no_multichoice, cutoff=500 yield columns=119, ACC=0.8686659772492245, in duration=39.9s
rowset_label=full_country_Germany, columnset_label=all_numeric_categerical_no_multichoice, cutoff=10000 yield columns=7, ACC=0.9415718717683558, in duration=24.401s
rowset_label=full_country_Germany, columnset_label=all_numeric_categerical_no_multichoice, cutoff=5000 yield columns=8, ACC=0.9415718717683558, in duration=20.102s
rowset_label=full_country_Germany, columnset_label=all_numeric_categerical_no_multichoice, cutoff=2500 yield columns=20, ACC=0.9415718717683558, in duration=22.769s
rowset_label=full_country_Germany, columnset_label=all_numeric_categerical_no_multichoice, cutoff=1000 yield columns=87, ACC=0.9415718717683558, in duration=32.057s
rowset_label=full_country_Germany, columnset_label=all_numeric_categerical_no_multichoice, cutoff=500 yield columns=119, ACC=0.9415718717683558, in duration=39.436s
rowset_label=full_country_United Kingdom, columnset_label=all_numeric_categerical_no_multichoice, cutoff=10000 yield columns=7, ACC=0.9426059979317477, in duration=20.842s
rowset_label=full_country_United Kingdom, columnset_label=all_numeric_categerical_no_multichoice, cutoff=5000 yield columns=8, ACC=0.9426059979317477, in duration=20.121s
rowset_label=full_country_United Kingdom, columnset_label=all_numeric_categerical_no_multichoice, cutoff=2500 yield columns=20, ACC=0.9426059979317477, in duration=20.958s
rowset_label=full_country_United Kingdom, columnset_label=all_numeric_categerical_no_multichoice, cutoff=1000 yield columns=87, ACC=0.9426059979317477, in duration=29.082s
rowset_label=full_country_United Kingdom, columnset_label=all_numeric_categerical_no_multichoice, cutoff=500 yield columns=119, ACC=0.9426059979317477, in duration=39.848s
rowset_label=full_country_Brazil, columnset_label=all_numeric_categerical_no_multichoice, cutoff=10000 yield columns=7, ACC=0.9689762150982419, in duration=20.902s
rowset_label=full_country_Brazil, columnset_label=all_numeric_categerical_no_multichoice, cutoff=5000 yield columns=8, ACC=0.9689762150982419, in duration=22.554s
rowset_label=full_country_Brazil, columnset_label=all_numeric_categerical_no_multichoice, cutoff=2500 yield columns=20, ACC=0.9689762150982419, in duration=23.038s
rowset_label=full_country_Brazil, columnset_label=all_numeric_categerical_no_multichoice, cutoff=1000 yield columns=87, ACC=0.9689762150982419, in duration=32.037s
rowset_label=full_country_Brazil, columnset_label=all_numeric_categerical_no_multichoice, cutoff=500 yield columns=119, ACC=0.9689762150982419, in duration=39.818s
rowset_label=full_country_Canada, columnset_label=all_numeric_categerical_no_multichoice, cutoff=10000 yield columns=7, ACC=0.9700103412616339, in duration=22.808s
rowset_label=full_country_Canada, columnset_label=all_numeric_categerical_no_multichoice, cutoff=5000 yield columns=8, ACC=0.9700103412616339, in duration=21.262s
rowset_label=full_country_Canada, columnset_label=all_numeric_categerical_no_multichoice, cutoff=2500 yield columns=20, ACC=0.9700103412616339, in duration=21.747s
rowset_label=full_country_Canada, columnset_label=all_numeric_categerical_no_multichoice, cutoff=1000 yield columns=87, ACC=0.9700103412616339, in duration=39.059s
rowset_label=full_country_Canada, columnset_label=all_numeric_categerical_no_multichoice, cutoff=500 yield columns=119, ACC=0.9700103412616339, in duration=46.31s
rowset_label=full_country_France, columnset_label=all_numeric_categerical_no_multichoice, cutoff=10000 yield columns=7, ACC=0.9756980351602895, in duration=23.318s
rowset_label=full_country_France, columnset_label=all_numeric_categerical_no_multichoice, cutoff=5000 yield columns=8, ACC=0.9756980351602895, in duration=25.794s
rowset_label=full_country_France, columnset_label=all_numeric_categerical_no_multichoice, cutoff=2500 yield columns=20, ACC=0.9756980351602895, in duration=24.731s
rowset_label=full_country_France, columnset_label=all_numeric_categerical_no_multichoice, cutoff=1000 yield columns=87, ACC=0.9756980351602895, in duration=33.253s
rowset_label=full_country_France, columnset_label=all_numeric_categerical_no_multichoice, cutoff=500 yield columns=119, ACC=0.9756980351602895, in duration=39.172s
rowset_label=full_country_Netherlands, columnset_label=all_numeric_categerical_no_multichoice, cutoff=10000 yield columns=7, ACC=0.9751809720785936, in duration=18.847s
rowset_label=full_country_Netherlands, columnset_label=all_numeric_categerical_no_multichoice, cutoff=5000 yield columns=8, ACC=0.9751809720785936, in duration=26.523s
rowset_label=full_country_Netherlands, columnset_label=all_numeric_categerical_no_multichoice, cutoff=2500 yield columns=20, ACC=0.9751809720785936, in duration=20.844s
rowset_label=full_country_Netherlands, columnset_label=all_numeric_categerical_no_multichoice, cutoff=1000 yield columns=87, ACC=0.9751809720785936, in duration=30.401s
rowset_label=full_country_Netherlands, columnset_label=all_numeric_categerical_no_multichoice, cutoff=500 yield columns=119, ACC=0.9751809720785936, in duration=40.308s
rowset_label=full_country_Poland, columnset_label=all_numeric_categerical_no_multichoice, cutoff=10000 yield columns=7, ACC=0.9803516028955532, in duration=23.589s
rowset_label=full_country_Poland, columnset_label=all_numeric_categerical_no_multichoice, cutoff=5000 yield columns=8, ACC=0.9803516028955532, in duration=22.675s
rowset_label=full_country_Poland, columnset_label=all_numeric_categerical_no_multichoice, cutoff=2500 yield columns=20, ACC=0.9803516028955532, in duration=21.211s
rowset_label=full_country_Poland, columnset_label=all_numeric_categerical_no_multichoice, cutoff=1000 yield columns=87, ACC=0.9803516028955532, in duration=38.748s
rowset_label=full_country_Poland, columnset_label=all_numeric_categerical_no_multichoice, cutoff=500 yield columns=119, ACC=0.9803516028955532, in duration=42.069s
rowset_label=full_country_Australia, columnset_label=all_numeric_categerical_no_multichoice, cutoff=10000 yield columns=7, ACC=0.9762150982419855, in duration=20.778s
rowset_label=full_country_Australia, columnset_label=all_numeric_categerical_no_multichoice, cutoff=5000 yield columns=8, ACC=0.9762150982419855, in duration=23.655s
rowset_label=full_country_Australia, columnset_label=all_numeric_categerical_no_multichoice, cutoff=2500 yield columns=20, ACC=0.9762150982419855, in duration=25.871s
rowset_label=full_country_Australia, columnset_label=all_numeric_categerical_no_multichoice, cutoff=1000 yield columns=87, ACC=0.9762150982419855, in duration=31.651s
rowset_label=full_country_Australia, columnset_label=all_numeric_categerical_no_multichoice, cutoff=500 yield columns=119, ACC=0.9762150982419855, in duration=45.174s
rowset_label=full_country_Italy, columnset_label=all_numeric_categerical_no_multichoice, cutoff=10000 yield columns=7, ACC=0.9824198552223371, in duration=21.362s
rowset_label=full_country_Italy, columnset_label=all_numeric_categerical_no_multichoice, cutoff=5000 yield columns=8, ACC=0.9824198552223371, in duration=19.586s
rowset_label=full_country_Italy, columnset_label=all_numeric_categerical_no_multichoice, cutoff=2500 yield columns=20, ACC=0.9824198552223371, in duration=24.441s
rowset_label=full_country_Italy, columnset_label=all_numeric_categerical_no_multichoice, cutoff=1000 yield columns=87, ACC=0.9824198552223371, in duration=33.105s
rowset_label=full_country_Italy, columnset_label=all_numeric_categerical_no_multichoice, cutoff=500 yield columns=119, ACC=0.9824198552223371, in duration=36.956s

In [9]:
# result_df = pd.DataFrame(data=results).set_index(['rowset_label', 'columnset_label', 'country', 'cutoff'])
result_df = pd.DataFrame(data=results).set_index(['country', 'cutoff'])
for to_round in ['TPR', 'TNR', 'PPV', 'NPV', 'ACC', 'duration']:
    result_df[to_round] = result_df[to_round].map(lambda x: round(x,3))

result_df.drop(columns=['X_columns', 'coefficients']).sort_values('ACC')

                       TP  FP    TN   FN    TPR    TNR    PPV    NPV    ACC  \
country        cutoff
United States  10000   13  13  1560  348  0.036  0.992  0.500  0.818  0.813
               5000    13  12  1561  348  0.036  0.992  0.520  0.818  0.814
               2500    18  16  1557  343  0.050  0.990  0.529  0.819  0.814
               1000    33  20  1553  328  0.091  0.987  0.623  0.826  0.820
               500     42  24  1549  319  0.116  0.985  0.636  0.829  0.823
India          10000    0   0  1671  263  0.000  1.000  0.000  0.864  0.864
               5000     0   0  1671  263  0.000  1.000  0.000  0.864  0.864
               2500     0   0  1671  263  0.000  1.000  0.000  0.864  0.864
               1000    13   3  1668  250  0.049  0.998  0.812  0.870  0.869
               500     18   9  1662  245  0.068  0.995  0.667  0.872  0.869
Germany        500      0   0  1821  113  0.000  1.000  0.000  0.942  0.942
               2500     0   0  1821  113  0.000  1.000  0.000  0.942  0.942
               1000     0   0  1821  113  0.000  1.000  0.000  0.942  0.942
               10000    0   0  1821  113  0.000  1.000  0.000  0.942  0.942
               5000     0   0  1821  113  0.000  1.000  0.000  0.942  0.942
United Kingdom 10000    0   0  1823  111  0.000  1.000  0.000  0.943  0.943
               5000     0   0  1823  111  0.000  1.000  0.000  0.943  0.943
               2500     0   0  1823  111  0.000  1.000  0.000  0.943  0.943
               1000     0   0  1823  111  0.000  1.000  0.000  0.943  0.943
               500      0   0  1823  111  0.000  1.000  0.000  0.943  0.943
Brazil         10000    0   0  1874   60  0.000  1.000  0.000  0.969  0.969
               5000     0   0  1874   60  0.000  1.000  0.000  0.969  0.969
               2500     0   0  1874   60  0.000  1.000  0.000  0.969  0.969
               1000     0   0  1874   60  0.000  1.000  0.000  0.969  0.969
               500      0   0  1874   60  0.000  1.000  0.000  0.969  0.969
Canada         500      0   0  1876   58  0.000  1.000  0.000  0.970  0.970
               1000     0   0  1876   58  0.000  1.000  0.000  0.970  0.970
               2500     0   0  1876   58  0.000  1.000  0.000  0.970  0.970
               5000     0   0  1876   58  0.000  1.000  0.000  0.970  0.970
               10000    0   0  1876   58  0.000  1.000  0.000  0.970  0.970
Netherlands    500      0   0  1886   48  0.000  1.000  0.000  0.975  0.975
               1000     0   0  1886   48  0.000  1.000  0.000  0.975  0.975
               2500     0   0  1886   48  0.000  1.000  0.000  0.975  0.975
               10000    0   0  1886   48  0.000  1.000  0.000  0.975  0.975
               5000     0   0  1886   48  0.000  1.000  0.000  0.975  0.975
France         1000     0   0  1887   47  0.000  1.000  0.000  0.976  0.976
Australia      5000     0   0  1888   46  0.000  1.000  0.000  0.976  0.976
France         2500     0   0  1887   47  0.000  1.000  0.000  0.976  0.976
               5000     0   0  1887   47  0.000  1.000  0.000  0.976  0.976
               10000    0   0  1887   47  0.000  1.000  0.000  0.976  0.976
Australia      500      0   0  1888   46  0.000  1.000  0.000  0.976  0.976
               1000     0   0  1888   46  0.000  1.000  0.000  0.976  0.976
               2500     0   0  1888   46  0.000  1.000  0.000  0.976  0.976
France         500      0   0  1887   47  0.000  1.000  0.000  0.976  0.976
Australia      10000    0   0  1888   46  0.000  1.000  0.000  0.976  0.976
Poland         5000     0   0  1896   38  0.000  1.000  0.000  0.980  0.980
               1000     0   0  1896   38  0.000  1.000  0.000  0.980  0.980
               2500     0   0  1896   38  0.000  1.000  0.000  0.980  0.980
               10000    0   0  1896   38  0.000  1.000  0.000  0.980  0.980
               500      0   0  1896   38  0.000  1.000  0.000  0.980  0.980
Italy          1000     0   0  1900   34  0.000  1.000  0.000  0.982  0.982
               10000    0   0  1900   34  0.000  1.000  0.000  0.982  0.982
               5000     0   0  1900   34  0.000  1.000  0.000  0.982  0.982
               2500     0   0  1900   34  0.000  1.000  0.000  0.982  0.982
               500      0   0  1900   34  0.000  1.000  0.000  0.982  0.982

                                                  model  column_count  \
country        cutoff
United States  10000   LinearRegression(normalize=True)             7
               5000    LinearRegression(normalize=True)             8
               2500    LinearRegression(normalize=True)            20
               1000    LinearRegression(normalize=True)            87
               500     LinearRegression(normalize=True)           119
India          10000   LinearRegression(normalize=True)             7
               5000    LinearRegression(normalize=True)             8
               2500    LinearRegression(normalize=True)            20
               1000    LinearRegression(normalize=True)            87
               500     LinearRegression(normalize=True)           119
Germany        500     LinearRegression(normalize=True)           119
               2500    LinearRegression(normalize=True)            20
               1000    LinearRegression(normalize=True)            87
               10000   LinearRegression(normalize=True)             7
               5000    LinearRegression(normalize=True)             8
United Kingdom 10000   LinearRegression(normalize=True)             7
               5000    LinearRegression(normalize=True)             8
               2500    LinearRegression(normalize=True)            20
               1000    LinearRegression(normalize=True)            87
               500     LinearRegression(normalize=True)           119
Brazil         10000   LinearRegression(normalize=True)             7
               5000    LinearRegression(normalize=True)             8
               2500    LinearRegression(normalize=True)            20
               1000    LinearRegression(normalize=True)            87
               500     LinearRegression(normalize=True)           119
Canada         500     LinearRegression(normalize=True)           119
               1000    LinearRegression(normalize=True)            87
               2500    LinearRegression(normalize=True)            20
               5000    LinearRegression(normalize=True)             8
               10000   LinearRegression(normalize=True)             7
Netherlands    500     LinearRegression(normalize=True)           119
               1000    LinearRegression(normalize=True)            87
               2500    LinearRegression(normalize=True)            20
               10000   LinearRegression(normalize=True)             7
               5000    LinearRegression(normalize=True)             8
France         1000    LinearRegression(normalize=True)            87
Australia      5000    LinearRegression(normalize=True)             8
France         2500    LinearRegression(normalize=True)            20
               5000    LinearRegression(normalize=True)             8
               10000   LinearRegression(normalize=True)             7
Australia      500     LinearRegression(normalize=True)           119
               1000    LinearRegression(normalize=True)            87
               2500    LinearRegression(normalize=True)            20
France         500     LinearRegression(normalize=True)           119
Australia      10000   LinearRegression(normalize=True)             7
Poland         5000    LinearRegression(normalize=True)             8
               1000    LinearRegression(normalize=True)            87
               2500    LinearRegression(normalize=True)            20
               10000   LinearRegression(normalize=True)             7
               500     LinearRegression(normalize=True)           119
Italy          1000    LinearRegression(normalize=True)            87
               10000   LinearRegression(normalize=True)             7
               5000    LinearRegression(normalize=True)             8
               2500    LinearRegression(normalize=True)            20
               500     LinearRegression(normalize=True)           119

                                      rowset_label  \
country        cutoff
United States  10000    full_country_United States
               5000     full_country_United States
               2500     full_country_United States
               1000     full_country_United States
               500      full_country_United States
India          10000            full_country_India
               5000             full_country_India
               2500             full_country_India
               1000             full_country_India
               500              full_country_India
Germany        500            full_country_Germany
               2500           full_country_Germany
               1000           full_country_Germany
               10000          full_country_Germany
               5000           full_country_Germany
United Kingdom 10000   full_country_United Kingdom
               5000    full_country_United Kingdom
               2500    full_country_United Kingdom
               1000    full_country_United Kingdom
               500     full_country_United Kingdom
Brazil         10000           full_country_Brazil
               5000            full_country_Brazil
               2500            full_country_Brazil
               1000            full_country_Brazil
               500             full_country_Brazil
Canada         500             full_country_Canada
               1000            full_country_Canada
               2500            full_country_Canada
               5000            full_country_Canada
               10000           full_country_Canada
Netherlands    500        full_country_Netherlands
               1000       full_country_Netherlands
               2500       full_country_Netherlands
               10000      full_country_Netherlands
               5000       full_country_Netherlands
France         1000            full_country_France
Australia      5000         full_country_Australia
France         2500            full_country_France
               5000            full_country_France
               10000           full_country_France
Australia      500          full_country_Australia
               1000         full_country_Australia
               2500         full_country_Australia
France         500             full_country_France
Australia      10000        full_country_Australia
Poland         5000            full_country_Poland
               1000            full_country_Poland
               2500            full_country_Poland
               10000           full_country_Poland
               500             full_country_Poland
Italy          1000             full_country_Italy
               10000            full_country_Italy
               5000             full_country_Italy
               2500             full_country_Italy
               500              full_country_Italy

                                              columnset_label  \
country        cutoff
United States  10000   all_numeric_categerical_no_multichoice
               5000    all_numeric_categerical_no_multichoice
               2500    all_numeric_categerical_no_multichoice
               1000    all_numeric_categerical_no_multichoice
               500     all_numeric_categerical_no_multichoice
India          10000   all_numeric_categerical_no_multichoice
               5000    all_numeric_categerical_no_multichoice
               2500    all_numeric_categerical_no_multichoice
               1000    all_numeric_categerical_no_multichoice
               500     all_numeric_categerical_no_multichoice
Germany        500     all_numeric_categerical_no_multichoice
               2500    all_numeric_categerical_no_multichoice
               1000    all_numeric_categerical_no_multichoice
               10000   all_numeric_categerical_no_multichoice
               5000    all_numeric_categerical_no_multichoice
United Kingdom 10000   all_numeric_categerical_no_multichoice
               5000    all_numeric_categerical_no_multichoice
               2500    all_numeric_categerical_no_multichoice
               1000    all_numeric_categerical_no_multichoice
               500     all_numeric_categerical_no_multichoice
Brazil         10000   all_numeric_categerical_no_multichoice
               5000    all_numeric_categerical_no_multichoice
               2500    all_numeric_categerical_no_multichoice
               1000    all_numeric_categerical_no_multichoice
               500     all_numeric_categerical_no_multichoice
Canada         500     all_numeric_categerical_no_multichoice
               1000    all_numeric_categerical_no_multichoice
               2500    all_numeric_categerical_no_multichoice
               5000    all_numeric_categerical_no_multichoice
               10000   all_numeric_categerical_no_multichoice
Netherlands    500     all_numeric_categerical_no_multichoice
               1000    all_numeric_categerical_no_multichoice
               2500    all_numeric_categerical_no_multichoice
               10000   all_numeric_categerical_no_multichoice
               5000    all_numeric_categerical_no_multichoice
France         1000    all_numeric_categerical_no_multichoice
Australia      5000    all_numeric_categerical_no_multichoice
France         2500    all_numeric_categerical_no_multichoice
               5000    all_numeric_categerical_no_multichoice
               10000   all_numeric_categerical_no_multichoice
Australia      500     all_numeric_categerical_no_multichoice
               1000    all_numeric_categerical_no_multichoice
               2500    all_numeric_categerical_no_multichoice
France         500     all_numeric_categerical_no_multichoice
Australia      10000   all_numeric_categerical_no_multichoice
Poland         5000    all_numeric_categerical_no_multichoice
               1000    all_numeric_categerical_no_multichoice
               2500    all_numeric_categerical_no_multichoice
               10000   all_numeric_categerical_no_multichoice
               500     all_numeric_categerical_no_multichoice
Italy          1000    all_numeric_categerical_no_multichoice
               10000   all_numeric_categerical_no_multichoice
               5000    all_numeric_categerical_no_multichoice
               2500    all_numeric_categerical_no_multichoice
               500     all_numeric_categerical_no_multichoice

                       row_sample_rate  duration
country        cutoff
United States  10000               0.1    24.267
               5000                0.1    21.668
               2500                0.1    21.956
               1000                0.1    33.154
               500                 0.1    48.716
India          10000               0.1    26.230
               5000                0.1    20.686
               2500                0.1    24.031
               1000                0.1    38.041
               500                 0.1    39.900
Germany        500                 0.1    39.436
               2500                0.1    22.769
               1000                0.1    32.057
               10000               0.1    24.401
               5000                0.1    20.102
United Kingdom 10000               0.1    20.842
               5000                0.1    20.121
               2500                0.1    20.958
               1000                0.1    29.082
               500                 0.1    39.848
Brazil         10000               0.1    20.902
               5000                0.1    22.554
               2500                0.1    23.038
               1000                0.1    32.037
               500                 0.1    39.818
Canada         500                 0.1    46.310
               1000                0.1    39.059
               2500                0.1    21.747
               5000                0.1    21.262
               10000               0.1    22.808
Netherlands    500                 0.1    40.308
               1000                0.1    30.401
               2500                0.1    20.844
               10000               0.1    18.847
               5000                0.1    26.523
France         1000                0.1    33.253
Australia      5000                0.1    23.655
France         2500                0.1    24.731
               5000                0.1    25.794
               10000               0.1    23.318
Australia      500                 0.1    45.174
               1000                0.1    31.651
               2500                0.1    25.871
France         500                 0.1    39.172
Australia      10000               0.1    20.778
Poland         5000                0.1    22.675
               1000                0.1    38.748
               2500                0.1    21.211
               10000               0.1    23.589
               500                 0.1    42.069
Italy          1000                0.1    33.105
               10000               0.1    21.362
               5000                0.1    19.586
               2500                0.1    24.441
               500                 0.1    36.956

In [7]:
script_end = time.time()
print('script duration %s', end - start)

script duration %s 5.375078916549683