In [6]:
import numpy as np
import pandas as pd
import time
import pickle


pd.options.display.max_rows = 2000
pd.options.display.max_columns = 1000
pd.options.display.max_colwidth = 255

In [7]:
# results_df = None

with open('./pickles/results.pkl', 'rb') as f:
    results_df = pickle.load(f)
    
results_df

                              P     N   TP   FP    TN    FN    TPR    TNR  \
country            cutoff
United States      5000    1795  7874  395  214  7660  1400  0.220  0.973
                   2500    1795  7874  456  224  7650  1339  0.254  0.972
                   1000    1795  7874  501  240  7634  1294  0.279  0.970
                   500     1795  7874  515  241  7633  1280  0.287  0.969
                   250     1795  7874  519  248  7626  1276  0.289  0.969
                   100     1795  7874  515  252  7622  1280  0.287  0.968
India              5000    1282  8387  186   39  8348  1096  0.145  0.995
                   2500    1282  8387  241   49  8338  1041  0.188  0.994
                   1000    1282  8387  502  218  8169   780  0.392  0.974
                   500     1282  8387  510  217  8170   772  0.398  0.974
                   250     1282  8387  512  219  8168   770  0.399  0.974
                   100     1282  8387  512  218  8169   770  0.399  0.974
United Kingdom     5000     605  9064    0    0  9064   605  0.000  1.000
                   2500     605  9064    0    0  9064   605  0.000  1.000
                   1000     605  9064    0    0  9064   605  0.000  1.000
                   500      605  9064    0    0  9064   605  0.000  1.000
                   250      605  9064    0    0  9064   605  0.000  1.000
                   100      605  9064    0    0  9064   605  0.000  1.000
Germany            5000     566  9103    0    0  9103   566  0.000  1.000
                   2500     566  9103    0    0  9103   566  0.000  1.000
                   1000     566  9103    0    0  9103   566  0.000  1.000
                   500      566  9103    0    0  9103   566  0.000  1.000
                   250      566  9103    0    0  9103   566  0.000  1.000
                   100      566  9103    0    0  9103   566  0.000  1.000
Canada             5000     315  9354    0    0  9354   315  0.000  1.000
                   2500     315  9354    0    0  9354   315  0.000  1.000
                   1000     315  9354    0    0  9354   315  0.000  1.000
                   500      315  9354    0    0  9354   315  0.000  1.000
                   250      315  9354    0    0  9354   315  0.000  1.000
                   100      315  9354    0    0  9354   315  0.000  1.000
France             5000     281  9388    0    0  9388   281  0.000  1.000
                   2500     281  9388    0    0  9388   281  0.000  1.000
                   1000     281  9388    0    0  9388   281  0.000  1.000
                   500      281  9388    0    0  9388   281  0.000  1.000
                   250      281  9388    0    0  9388   281  0.000  1.000
                   100      281  9388    0    0  9388   281  0.000  1.000
Brazil             5000     287  9382    0    0  9382   287  0.000  1.000
                   2500     287  9382    0    0  9382   287  0.000  1.000
                   1000     287  9382    0    0  9382   287  0.000  1.000
                   500      287  9382    0    0  9382   287  0.000  1.000
                   250      287  9382    0    0  9382   287  0.000  1.000
                   100      287  9382    0    0  9382   287  0.000  1.000
Netherlands        5000     195  9474    0    0  9474   195  0.000  1.000
                   2500     195  9474    0    0  9474   195  0.000  1.000
                   1000     195  9474    0    0  9474   195  0.000  1.000
                   500      195  9474    0    0  9474   195  0.000  1.000
                   250      195  9474    0    0  9474   195  0.000  1.000
                   100      195  9474    0    0  9474   195  0.000  1.000
Poland             5000     187  9482    0    0  9482   187  0.000  1.000
                   2500     187  9482    0    0  9482   187  0.000  1.000
                   1000     187  9482    0    0  9482   187  0.000  1.000
                   500      187  9482    0    0  9482   187  0.000  1.000
                   250      187  9482    0    0  9482   187  0.000  1.000
                   100      187  9482    0    0  9482   187  0.000  1.000
Australia          5000     191  9478    0    0  9478   191  0.000  1.000
                   2500     191  9478    0    0  9478   191  0.000  1.000
                   1000     191  9478    0    0  9478   191  0.000  1.000
                   500      191  9478    0    0  9478   191  0.000  1.000
                   250      191  9478    0    0  9478   191  0.000  1.000
                   100      191  9478    0    0  9478   191  0.000  1.000
Italy              5000     189  9480    0    0  9480   189  0.000  1.000
                   2500     189  9480    0    0  9480   189  0.000  1.000
                   1000     189  9480    0    0  9480   189  0.000  1.000
                   500      189  9480    0    0  9480   189  0.000  1.000
                   250      189  9480    0    0  9480   189  0.000  1.000
                   100      189  9480    0    0  9480   189  0.000  1.000
Russian Federation 5000     168  9501    0    0  9501   168  0.000  1.000
                   2500     168  9501    0    0  9501   168  0.000  1.000
                   1000     168  9501    0    0  9501   168  0.000  1.000
                   500      168  9501    0    0  9501   168  0.000  1.000
                   250      168  9501    0    0  9501   168  0.000  1.000
                   100      168  9501    0    0  9501   168  0.000  1.000
Spain              5000     165  9504    0    0  9504   165  0.000  1.000
                   2500     165  9504    0    0  9504   165  0.000  1.000
                   1000     165  9504    0    0  9504   165  0.000  1.000
                   500      165  9504    0    0  9504   165  0.000  1.000
                   250      165  9504    0    0  9504   165  0.000  1.000
                   100      165  9504    0    0  9504   165  0.000  1.000

                             PPV    NPV    ACC  \
country            cutoff
United States      5000    0.649  0.845  0.833
                   2500    0.671  0.851  0.838
                   1000    0.676  0.855  0.841
                   500     0.681  0.856  0.843
                   250     0.677  0.857  0.842
                   100     0.671  0.856  0.842
India              5000    0.827  0.884  0.883
                   2500    0.831  0.889  0.887
                   1000    0.697  0.913  0.897
                   500     0.702  0.914  0.898
                   250     0.700  0.914  0.898
                   100     0.701  0.914  0.898
United Kingdom     5000    0.000  0.937  0.937
                   2500    0.000  0.937  0.937
                   1000    0.000  0.937  0.937
                   500     0.000  0.937  0.937
                   250     0.000  0.937  0.937
                   100     0.000  0.937  0.937
Germany            5000    0.000  0.941  0.941
                   2500    0.000  0.941  0.941
                   1000    0.000  0.941  0.941
                   500     0.000  0.941  0.941
                   250     0.000  0.941  0.941
                   100     0.000  0.941  0.941
Canada             5000    0.000  0.967  0.967
                   2500    0.000  0.967  0.967
                   1000    0.000  0.967  0.967
                   500     0.000  0.967  0.967
                   250     0.000  0.967  0.967
                   100     0.000  0.967  0.967
France             5000    0.000  0.971  0.971
                   2500    0.000  0.971  0.971
                   1000    0.000  0.971  0.971
                   500     0.000  0.971  0.971
                   250     0.000  0.971  0.971
                   100     0.000  0.971  0.971
Brazil             5000    0.000  0.970  0.970
                   2500    0.000  0.970  0.970
                   1000    0.000  0.970  0.970
                   500     0.000  0.970  0.970
                   250     0.000  0.970  0.970
                   100     0.000  0.970  0.970
Netherlands        5000    0.000  0.980  0.980
                   2500    0.000  0.980  0.980
                   1000    0.000  0.980  0.980
                   500     0.000  0.980  0.980
                   250     0.000  0.980  0.980
                   100     0.000  0.980  0.980
Poland             5000    0.000  0.981  0.981
                   2500    0.000  0.981  0.981
                   1000    0.000  0.981  0.981
                   500     0.000  0.981  0.981
                   250     0.000  0.981  0.981
                   100     0.000  0.981  0.981
Australia          5000    0.000  0.980  0.980
                   2500    0.000  0.980  0.980
                   1000    0.000  0.980  0.980
                   500     0.000  0.980  0.980
                   250     0.000  0.980  0.980
                   100     0.000  0.980  0.980
Italy              5000    0.000  0.980  0.980
                   2500    0.000  0.980  0.980
                   1000    0.000  0.980  0.980
                   500     0.000  0.980  0.980
                   250     0.000  0.980  0.980
                   100     0.000  0.980  0.980
Russian Federation 5000    0.000  0.983  0.983
                   2500    0.000  0.983  0.983
                   1000    0.000  0.983  0.983
                   500     0.000  0.983  0.983
                   250     0.000  0.983  0.983
                   100     0.000  0.983  0.983
Spain              5000    0.000  0.983  0.983
                   2500    0.000  0.983  0.983
                   1000    0.000  0.983  0.983
                   500     0.000  0.983  0.983
                   250     0.000  0.983  0.983
                   100     0.000  0.983  0.983

                                                                                                                                                                                                                                                                             coefficients  \
country            cutoff
United States      5000                                                                                                 X_Column  \
97                  NEWJobHuntResearch_Company reviews from third party sites (e.g. Glassdoor, Blind)
28                                       ...
                   2500                                                                                                 X_Column  \
63                                                                                 JobSeek_noresponse
60                                       ...
                   1000                                                                                                 X_Column  \
87                                                                                 JobSeek_noresponse
84                                       ...
                   500                                                                                                  X_Column  \
62                                                        EdLevel_Associate degree (A.A., A.S., etc.)
366                                      ...
                   250                                                                                                  X_Column  \
384                                                                                       OpSys_MacOS
386                                      ...
                   100                                                                                                  X_Column  \
76                                                                                 Employment_Retired
77                                       ...
India              5000                                                                                                 X_Column  \
28                                                             Ethnicity_White or of European descent
29                                       ...
                   2500                                                                                                 X_Column  \
62                                                            JobSeek_I am actively looking for a job
61                               JobSeek_...
                   1000                                                                                                 X_Column  \
86                                                            JobSeek_I am actively looking for a job
87                                       ...
                   500                                                                                                  X_Column  \
75                                                                              Ethnicity_South Asian
77                                       ...
                   250                                                                                                  X_Column  \
81                                                                              Ethnicity_South Asian
85                                       ...
                   100                                                                                                  X_Column  \
76                                                                                 Employment_Retired
78                                       ...
United Kingdom     5000                                                                                                 X_Column  \
28                                                             Ethnicity_White or of European descent
187                                      ...
                   2500                                                                                                 X_Column  \
63                                                                                 JobSeek_noresponse
61                               JobSeek_...
                   1000                                                                                                 X_Column  \
85                               JobSeek_I’m not actively looking, but I am open to new opportunities
87                                       ...
                   500                                                                                                  X_Column  \
63                                                 EdLevel_Other doctoral degree (Ph.D., Ed.D., etc.)
143                                      ...
                   250                                                                                                  X_Column  \
152                                                                        LanguageWorkedWith_Haskell
67                                       ...
                   100                                                                                                  X_Column  \
77                                                  Employment_Not employed, and not looking for work
78                                       ...
Germany            5000                                                                                                 X_Column  \
28                                                             Ethnicity_White or of European descent
170                                      ...
                   2500                                                                                                 X_Column  \
60                                               JobSeek_I am not interested in new job opportunities
61                               JobSeek_...
                   1000                                                                                                 X_Column  \
84                                               JobSeek_I am not interested in new job opportunities
85                               JobSeek_...
                   500                                                                                                  X_Column  \
60         EdLevel_Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)
69                                       ...
                   250                                                                                                  X_Column  \
63         EdLevel_Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)
74                                       ...
                   100                                                                                                  X_Column  \
75                                                                      Employment_Employed part-time
73                                       ...
Canada             5000                                                                                                 X_Column  \
25                                            EdLevel_Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
38                                       ...
                   2500                                                                                                 X_Column  \
60                                               JobSeek_I am not interested in new job opportunities
61                               JobSeek_...
                   1000                                                                                                 X_Column  \
84                                               JobSeek_I am not interested in new job opportunities
85                               JobSeek_...
                   500                                                                                                  X_Column  \
62                                                        EdLevel_Associate degree (A.A., A.S., etc.)
400                                      ...
                   250                                                                                                  X_Column  \
418                                                                                   SOVisitFreq_nan
66                                       ...
                   100                                                                                                  X_Column  \
77                                                  Employment_Not employed, and not looking for work
78                                       ...
France             5000                                                                                                 X_Column  \
25                                            EdLevel_Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
28                                       ...
                   2500                                                                                                 X_Column  \
63                                                                                 JobSeek_noresponse
60                                       ...
                   1000                                                                                                 X_Column  \
86                                                            JobSeek_I am actively looking for a job
85                               JobSeek_...
                   500                                                                                                  X_Column  \
319                                                                        WebframeWorkedWith_Symfony
58                                       ...
                   250                                                                                                  X_Column  \
335                                                                        WebframeWorkedWith_Symfony
61                                       ...
                   100                                                                                                  X_Column  \
76                                                                                 Employment_Retired
77                                       ...